.header {
    position: fixed;
    top: 0;
    width: 100%;
    /* background: linear-gradient(180deg, rgba(0,0,0,0.7) 10%, transparent); */
    z-index: 100;
    padding: 20px 20px 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.netflix-logo {
    height: 50px; /* 로고 크기 조정 */
    cursor: pointer;
}

.user-profile {
    width: 32px;
    height: 32px;
    border-radius: 4px;
    /* margin-right: 20px; */
    justify-content: space-between;
    cursor: pointer;
}


